<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mercado Liebre</title>
  <link href="/css/styles.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/f2c1799cf6.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>

    <section class="top-bar">

      <div class="logo-search">
        <a href="http://localhost:3000"><img src="/img/logo-mercado-liebre.svg" class="logo"
            alt="logo-mercado liebre" /></a>

        <form class="search-wrapper" action="" method="post">
          <input type="search" placeholder="Buscar productos, marcas" required />
          <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>

      <section class="text-header">
        <i class="fa-solid fa-hand-holding-dollar"><span>compra en cuotas y sin tarjeta de credito</span></i>
      </section>

    </section>

    <nav class="container-nav-bar">

      <ul class="nav-bar-top">
        <a href="#">
          <li>Ofertas</li>
        </a>
        <a href="#">
          <li>Tiendas oficiales</li>
        </a>
        <a href="#">
          <li>Vender</li>
        </a>
        <a href="#">
          <li>Ayuda</li>
        </a>
      </ul>

      <ul class="nav-bar-bottom">
        <a href="http://localhost:3000/registro">
          <li>Crea tu cuenta</li>
        </a>
        <a href="http://localhost:3000/login">
          <li class="cuerpo">Ingresa<i class="fa-solid fa-right-to-bracket"></i></li>
        </a>
        <a href="#">
          <li class="cuerpo">Compras<i class="fa-solid fa-basket-shopping"></i></li>
        </a>
      </ul>

    </nav>

    <nav class="burger-menu">
      <i class="fas fa-bars"></i>
    </nav>


    <section class="img-banner-wrapper">
      <img src="/img/img-home-banner.jpg" alt="">
    </section>

  </header>


  <main>

    <h1 class="titulares">Basado en tu última visita</h1>

    <article class="articles-container">

      <section class="content-article">
        <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera" />
        <div class="price-card-wrapper">
          <p class="precios">$ 6.770</p>
          <p class="descuentos">40% OFF</p>
        </div>
        <i class="fa-solid fa-truck"></i>
        <b class="descripcion">Cafetera Moulinex</b>
      </section>


      <section class="content-article">
        <img src="/img/img-macbook-pro-2019.jpg" alt="Cafetera" />
        <div class="price-card-wrapper">
          <p class="precios">$ 230.000</p>
          <p class="descuentos">20% OFF</p>
        </div>
        <i class="fa-solid fa-truck"></i>
        <b class="descripcion">Macbook Pro 2019</b>
      </section>


      <section class="content-article">
        <img src="img/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy">
        <div class="price-card-wrapper">
          <p class="precios">$ 70.500</p>
          <p class="descuentos">10% OFF</p>
        </div>
        <i class="fa-solid fa-truck"></i>
        <b class="descripcion">Samsung Galaxy S10</b>
      </section>



      <section class="content-article">
        <img src="/img/img-tv-samsung-smart.jpg" alt="Cafetera" />
        <div class="price-card-wrapper">
          <p class="precios">$ 23.200</p>
          <p class="descuentos">5% OFF</p>
        </div>
        <i class="fa-solid fa-truck"></i>
        <b class="descripcion">Smart TV Samsung 43 pulgadas</b>
      </section>

    </article>


    <h2 class="titulares">Seccion de ofertas</h2>

    <article class="articles-container">

      <section class="content-article">
        <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera" />
        <div class="price-card-wrapper">
          <p class="precios">$ 6.770</p>
          <p class="descuentos">40% OFF</p>
        </div>
        <i class="fa-solid fa-truck"></i>
        <b class="descripcion">Cafetera Moulinex</b>
      </section>



      <section class="content-article">
        <img src="/img/img-macbook-pro-2019.jpg" alt="Cafetera" />
        <div class="price-card-wrapper">
          <p class="precios">$ 230.000</p>
          <p class="descuentos">20% OFF</p>
        </div>
        <i class="fa-solid fa-truck"></i>
        <b class="descripcion">Macbook Pro 2019</b>
      </section>



      <section class="content-article">
        <img src="/img/img-samsung-galaxy-s10.jpg" alt="Cafetera" />
        <div class="price-card-wrapper">
          <p class="precios">$ 70.500</p>
          <p class="descuentos">10% OFF</p>
        </div>
        <i class="fa-solid fa-truck"></i>
        <b class="descripcion">Samsung Galaxy S10</b>
      </section>



      <section class="content-article">
        <img src="/img/img-tv-samsung-smart.jpg" alt="Cafetera" />
        <div class="price-card-wrapper">
          <p class="precios">$ 23.200</p>
          <p class="descuentos">5% OFF</p>
        </div>
        <i class="fa-solid fa-truck"></i>
        <b class="descripcion">Smart TV Samsung 43 pulgadas</b>
      </section>

    </article>

  </main>

  <footer>
    <div class="content-footer-container">
      <ul>
        <i class="fa-solid fa-credit-card"></i>
        <li><b>Paga con tu tarjeta o en efectivo</b></li>
        <p class="cuerpoText">
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </ul>

      <ul>
        <i class="fa-solid fa-gift"></i>
        <li><b>Envío gratis desde $ 2.500</b></li>
        <p class="cuerpoText">
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </ul>

      <ul>
        <i class="fa-solid fa-user-shield"></i>
        <li><b>Seguridad, de principio a fin</b></li>
        <p class="cuerpoText">
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </ul>
    </div>
    <div class="copyright">
        <span >Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
    </div>
  </footer>
</body>

</html>